[submodule "src/cogs/8ball"]
	path = src/cogs/8ball
	url = ../../snowball-dev-group/snowball-bot-8ball.git
[submodule "src/cogs/reactionEventFix"]
	path = src/cogs/reactionEventFix
	url = git@github.com:Sasha-Sorokin/alphaid-bot-reactions-fix.git
[submodule "src/cogs/dnSERV"]
	path = src/cogs/dnSERV
	url = git@github.com:dnserv-reborn/dnserv-alphaid-bot.git
[submodule "src/cogs/verify"]
	path = src/cogs/verify
	url = git@github.com:Sasha-Sorokin/alphaid-bot-verify.git
