[submodule "src/cogs/8ball"]
	path = src/cogs/8ball
	url = ../../snowball-dev-group/snowball-bot-8ball.git
[submodule "src/cogs/reactionEventFix"]
	path = src/cogs/reactionEventFix
	url = ../../alphaid-bot/alphaid-bot-reactions-fix.git
[submodule "src/cogs/dnSERV"]
	path = src/cogs/dnSERV
	url = ../../dnserv-reborn/dnserv-alphaid-bot.git
[submodule "src/cogs/verify"]
	path = src/cogs/verify
	url = ../../alphaid-bot/alphaid-bot-verify.git
[submodule "src/cogs/voice-role"]
	path = src/cogs/voice-role
	url = ../../alphaid-bot/alphaid-bot-voice-role.git
[submodule "src/cogs/intl-preferences"]
	path = src/cogs/intl-preferences
	url = ../../alphaid-bot/alphaid-bot-intl-preferences.git
